h1 {
  color: #000000;
}

.corpo {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  clear: left;
  text-align: center;
  left: 0;
  top: 0;
  padding: 0;
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.tabela-autor {
  margin: 10 auto;
  padding:  0;
  position: center;
}

table {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
